/* Main css file */




#menu_navegacion{
	background: #FFF;
	background: #FFD102;
}




/* color amarillo #FFD102*/
#titleReportList{
	margin-top: 6%;

}


.footer{
	margin-top: 10%;
}

#notification-panel{
	min-height: 100%;
}
#notifications-list{
	min-height: 8em;
	
}

#tasks-list{
	background: blue;
	min-height: 15em;
}

